.pure-table {
  width: 100%;
}
.header-table th {
  padding: 15px;
  background-color: #ccc;
}

.center-text {
  text-align: center;
  height: 76px;
  background-color: whitesmoke;
}
a {
  text-decoration: none;
  color: black;
}

.titulo-pagina {
  text-align: center;
  padding: 50px;
  font-size: 30px;
  font-weight: bold;
}
