<h3 class="titulo-pagina">Lista de chamados</h3>

<table
  *ngIf="(callService$ | async)?.length > 0; else nocallservice"
  class="pure-table"
>
  <thead>
    <tr class="header-table">
      <th>ID</th>
      <th>Status</th>
      <th>Titulo</th>
      <th>Area</th>
      <th>Tipo</th>
      <th>Prioridade</th>
      <th>Nome de Registro</th>
      <th>Descrição</th>
      <th>Açoes</th>
    </tr>
  </thead>
  <tbody>
    <tr class="center-text" *ngFor="let s of callService$ | async">
      <td>{{ s._id }}</td>
      <td>{{ s.status }}</td>
      <td>{{ s.title }}</td>
      <td>{{ s.area }}</td>
      <td>{{ s.type }}</td>
      <td>{{ s.priority }}</td>
      <td>{{ s.user.firstname }}</td>
      <td>{{ s.description }}</td>
      <td>
        <p>Detalhes</p>
        <a routerLink="/main/products"><mat-icon>remove_red_eye</mat-icon></a>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #nocallservice>
  <div class="ui segment">
    <div class="ui active inverted dimmer">
      <div class="ui large text loader">Loading</div>
    </div>
    <p></p>
    <p></p>
    <p></p>
  </div>
</ng-template>
