<h1 class="center-text">Novo Chamado</h1>

<section class="container diminuir cadastro-de-chamados">
  <form [formGroup]="formRegisterCall" (ngSubmit)="onSubmit()" class="ui form">
    <div class="field">
      <label></label>
      <div class="two fields">
        <div class="field">
          <input
            type="text"
            formControlName="firstname"
            name="shipping[first-name]"
            placeholder="Nome"
          />
        </div>
        <div class="field">
          <input
            type="text"
            name="shipping[last-name]"
            formControlName="lastname"
            placeholder="Sobrenome"
          />
        </div>
      </div>
    </div>
    <div class="field">
      <label>Resumo do problema</label>
      <div class="fields">
        <div class="twelve wide field">
          <input
            type="text"
            formControlName="title"
            name="shipping[address]"
            placeholder="resumo do problema"
          />
        </div>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Area</label>
        <select formControlName="area" class="ui fluid dropdown">
          <option *ngFor="let d of area" [value]="d">{{ d }}</option>
        </select>
      </div>
      <div class="two field">
        <label>Prioridades</label>
        <select formControlName="priority" class="ui fluid dropdown">
          <option *ngFor="let d of prioridade" [value]="d">{{ d }}</option>
        </select>
      </div>
    </div>
    <div class="field">
      <div class="two field">
        <label>Tipo de atendimento</label>
        <select formControlName="type" class="ui fluid dropdown">
          <option *ngFor="let d of tipo_atendimento" [value]="d">{{
            d
          }}</option>
        </select>
      </div>
    </div>
    <div class="fields">
      <div class="seven wide field">
        <label>Numero Matricula</label>
        <input
          type="text"
          name="card[number]"
          maxlength="16"
          placeholder="Numero Matricula"
        />
      </div>
    </div>
    <div class="field">
      <label>Descreva o Problema</label>
      <textarea formControlName="nregistration"></textarea>
    </div>

    <button class="ui green button">
      Abrir Chamado
    </button>
  </form>
</section>

<ng-template #noperson>
  <div class="ui segment">
    <div class="ui active inverted dimmer">
      <div class="ui large text loader">Loading</div>
    </div>
    <p></p>
    <p></p>
    <p></p>
  </div>
</ng-template>
